!!!
%html
  %head
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/reset.css'}
    %link{:rel => 'stylesheet', :type => 'text/css',
      :href => 'http://fonts.googleapis.com/css?family=Open+Sans:400,300,600|Overlock|Cinzel+Decorative:700'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/nav.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/form.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/graph.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/main.css'}
    %title
      OCCAM System
  %body
    %nav.topbar
      %h1.logo
        Occam
      %ul.navbar
        - if current_account.nil?
          %li>
            %a{:href => "/login"}>Login
          %li>
            %a{:href => "/accounts/new"}>Signup
        - else
          %li#username>
            #{current_account.username}
          %li>
            %a{:href => "/logout"}>Logout
    .content
      = yield
