%h1
  Header

%h2
  Subheader

%p
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec metus nisl. Etiam congue orci sit amet convallis vestibulum. Sed tristique varius orci. Nam ac leo at purus ullamcorper lacinia. Nulla fringilla ultrices mauris, interdum consectetur nisi sollicitudin ac. Sed fermentum sem sollicitudin nibh rhoncus, vel vulputate ante auctor. Aliquam interdum rutrum ornare. Pellentesque in urna non tortor accumsan pharetra. Proin sem odio, molestie sed aliquet ut, condimentum ac felis.

%p
  Proin non elit egestas, mollis erat ac, gravida justo. Morbi a semper nibh. Curabitur facilisis mollis pharetra. Nulla mattis, erat sit amet blandit commodo, massa libero congue ipsum, et porttitor metus mauris interdum lacus. Pellentesque dapibus quam sed erat tempor fermentum. Morbi id varius leo. Fusce imperdiet ligula non quam aliquam pharetra. Donec sagittis sodales mi, sit amet ullamcorper tortor ornare eu. Proin faucibus urna augue, nec imperdiet eros faucibus in. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam consequat dictum nunc, id dictum massa ullamcorper non. Aliquam rutrum, nulla in vehicula porta, massa lacus venenatis massa, a iaculis odio libero placerat justo. Aliquam sodales faucibus lorem sollicitudin aliquam. Duis venenatis pretium nisi, eget sollicitudin quam ultricies nec. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

%p
  Phasellus lorem odio, rhoncus nec tellus vitae, ullamcorper interdum libero. Cras aliquet faucibus orci a hendrerit. Donec ut orci placerat, faucibus lectus quis, laoreet mi. Aliquam in condimentum elit. Vivamus sit amet elementum nisl. Integer malesuada massa ut quam elementum, vel mattis nibh vehicula. Sed tincidunt vulputate enim.

%p
  Vivamus sit amet dolor leo. Donec ac vulputate sapien. Etiam fermentum nisi quis nisi blandit, ornare eleifend magna vehicula. Curabitur vulputate pretium mauris, convallis dignissim turpis malesuada vitae. Morbi at tincidunt sapien. Nulla ante lacus, aliquam sit amet orci vehicula, fringilla convallis orci. Nunc urna mauris, tristique vitae adipiscing et, eleifend a leo.

%p
  Aenean ornare suscipit velit at aliquet. Nunc consectetur et purus non gravida. Aenean egestas at justo non aliquet. Pellentesque tincidunt nunc diam, vitae vulputate ipsum tempor nec. Quisque laoreet urna sem, a congue mauris luctus sed. Aenean fermentum nisl in nisi tempus vehicula. Pellentesque facilisis pretium porttitor. Praesent ullamcorper mollis nisl quis lobortis. Ut consequat mollis lectus a pretium. Vivamus vitae pharetra felis. Vivamus non lobortis lacus. Ut aliquet nisi quis eros convallis blandit. Curabitur a mi quis massa aliquam aliquam a ac erat. Curabitur auctor aliquet leo ut commodo. Ut scelerisque nunc vitae consectetur dapibus.

%h1
  Forms

%form
  %label{:for => :foo}
    Label
  %input{:type => "text", :name => :foo, :id => :foo, :value => "Example Input"}
  %label{:for => :foo}
    Second Field
  %input{:type => "text", :name => :foo, :id => :foo, :value => "Example Input"}
  %input{:type => "submit", :value => "Submit", :name => :submit}

%h1
  Graphs

.results.graph.bars
.results.graph.line

%script{:type => "text/javascript", :src => "/js/jquery-1.10.2.min.js"}
%script{:type => "text/javascript", :src => "/js/d3.min.js"}
%script{:type => "text/javascript", :src => "/js/app.js"}
