form {
}

form label {
  color: hsl(190, 60%, 35%);
  display: block;
  font-family: Overlock;
  font-size: 16pt;
  margin-bottom: 10px;
}

form input[type=text],
form input[type=password] {
  display: block;
  padding: 5px;
  margin-bottom: 10px;
}

form input[type=submit] {
  display: block;
  margin-bottom: 10px;
}
