html, body {
}

body .content {
  padding-left:  10px;
  padding-right: 10px;
}

em {
  font-style:italic;
}

strong {
  font-weight:600;
}

h1 {
  color: hsl(190, 60%, 45%);
  font-family: Overlock;
  font-size: 20pt;
  margin-bottom: 13px;
}

* + h1 {
  margin-top: 30px;
}

h2 {
  color: hsl(190, 60%, 35%);
  font-family: Overlock;
  font-size: 16pt;
  margin-bottom: 10px;
}

p {
  font-family: "Open Sans", sans;
  font-size: 12pt;
  line-height: 1.3em;
  margin-bottom: 9px;
}
