nav.topbar {
  height: 48px;
  line-height: 48px;
  text-align: right;
  background-color: #333;
  position: relative;
  margin-bottom: 14px;
  box-shadow: 0px 0px 2px 2px #888;
}

nav.topbar .logo {
  color: hsl(190, 60%, 70%);
  height: 48px;
  float: left;
  font-family: "Cinzel Decorative";
  font-size: 20pt;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 48px;
  padding-left: 10px;
}

nav.topbar ul.navbar {
  color: hsl(190, 60%, 70%);
}

nav.topbar ul.navbar li {
  display: inline-block;
  padding-right: 10px;
}

nav.topbar ul.navbar li + li {
  border-left: 1px solid #555;
  padding-left: 10px;
}

nav.topbar ul.navbar li#username {
}

nav.topbar ul.navbar li a {
  color: #efefef;
  text-decoration: none;
}

nav.topbar ul.navbar li a:hover {
  text-decoration: underline;
}
