-# Purpose: Displays a form to create a new account
-#
-# Locals:  none

%h1
  Create a new account

%form{:action => "/accounts", :method => :post, :name => :accounts_new}
  %label{:for => :username}
    username
  %input{:type => "text", :id => :username, :name => :username}
  %label{:for => :password}
    password
  %input{:type => "password", :id => :password, :name => :password}
  %input{:type => "submit", :value => "Create", :name => :submit}
