-# Purpose: Displays a form to sign in
-#
-# Locals:  none

%h1
  Sign in

%form{:action => "/login", :method => :post, :name => :sessions_login}
  %label{:for => :username}
    username
  %input{:type => "text", :id => :username, :name => :username}
  %label{:for => :password}
    password
  %input{:type => "password", :id => :password, :name => :password}
  %input{:type => "submit", :value => "Sign in", :name => :submit}
